<div *ngIf="!dummyStories$" class="loader-block">
 <div class="loader">
  <div class="loader__bar"></div>
  <div class="loader__bar"></div>
  <div class="loader__bar"></div>
  <div class="loader__bar"></div>
  <div class="loader__bar"></div>
  <div class="loader__ball"></div>
</div>
</div>
<div *ngIf="dummyStories$ | async" class="container" style="background: #F6F6EF">
  <ol>
    <li *ngFor="let item of dummyStories$ | async">
      <hn-item [item]="item"></hn-item>
      <hr>
    </li>
  </ol>
</div>